@using GameHub
@using Microsoft.AspNetCore.Components.WebAssembly.Server
@using DnD.Pages.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.Web
@page "/Room/{RoomId}"

<h3>Room</h3>

@if(CurrentRoom is not null)
{
    <h3>@CurrentRoom.RoomName</h3>
    if(CurrentRoom.Players.Count < 2)
    {
        <h4>Ждем игроков</h4>

    }
}
else
{
    <h4>good</h4>

}
@code {
    [CascadingParameter]
    public HubConnection? HubConnection { get; set; }
    [Parameter]
    public GameRoom? CurrentRoom { get; set; }
    [Parameter]
    public string? RoomId { get; set; }

    protected override async Task OnInitializedAsync()
    {




        if (RoomId is null || HubConnection is null)
        {
            return;
        }
        CurrentRoom = await HubConnection.InvokeAsync<GameRoom>("GetRoom", RoomId);

        if (CurrentRoom is null || HubConnection is null || HubConnection.ConnectionId is null)
        {
            return;
        }

        HubConnection.On<Player>("PlayerJoined", player =>
        {
            CurrentRoom.Players.Add(player);
            InvokeAsync(StateHasChanged);
        });
    }
}
